body {
  text-align: center;
  background-color: #999999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
}

input {
  padding: 8px;
  border-radius: 2px;
  margin:5px;
}

img {
  height: 200px;
}

button {
  border: 1px solid black;
  background-color: #cc4949;
  color: white;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4b4b;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.box-toggle{
  color: #000;
  width: 60%;
  height: 60%;
  background-color: #fff;
  position: absolute;
  top:20%;
  left:20%;
  text-align: left;
  overflow:auto;
  padding-left: 5px;
}

.bg-toggle{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color: #000;
  opacity: 70%;
}

.nothing{
  display:none;
}